body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif; 
    background-color: #f1f1f1;
}

.logo {
    width: 100px; 
    height: auto;  
}
.logo {
    max-width: 100%;
}

.title {
    text-align: center;
    font-size: 24px; 
}

.login-title{
    text-align: center;
}

.login {
    width: 300px; 
    margin: 0 auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    background-color: #f9f9f9; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.login select {
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    background-color: white;
    font-family: inherit;
}

.hidden {
    display: none;
}

.role-selection {
    text-align: center;
    margin-bottom: 20px;
}

#role-select {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


.login input {
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
}

.login button {
    width: 100%; 
    padding: 10px; 
    background-color: blue; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    text-align: center;
}

.login-button:hover {
    background-color: navy; 
}

.login button {
    transition: background-color 0.3s ease;
}

.logout-link {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
}
.logout-link:hover {
    background-color: #333;
    color: white;
}
header {
    position: relative; 
    padding: 20px;
}